@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* -----------------header-section------------------ */
#header {
  position: fixed !important;
  padding: 10px 15px 0 17px !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
}
.header .brand {
  width: 125px !important;
  height: 80px !important;
}
.header ul{
  margin-top: 0px !important;
  margin-bottom: 5px !important;
}
.header ul li {
  margin-top: 0px !important;
}
.navitem .navbtn {
  background-color: #29626d !important;
}

/* ---------forgot-password-section---------- */
.title {
    font-size: 2.25rem;
    font-weight: 500;
    color: #4f4f4f;
    margin-bottom: 18px;
}
.line {
    width: 62px;
    height: 2px;
    background-color: #cccccc;
    margin: 0 10px;
}
.forgot-password-section{
    padding-top: 137px;
    padding-bottom: 120px;
}
.forgot-password-section .d-flex{
    padding-bottom: 18px;
}
.forgot-password-section .forgot-password div{
    width: 25%;
    margin: 0px auto;
}
.forgot-password-section .forgot-password .form-control{
    height: 46px;
}
.forgot-password-section .forgot-password .save-btn .save{
    color: white;
    background: #29626d;
    padding: 12px 25px;
    border-radius: 24px;
    outline: none;
    border: none;
}
@media only screen and (max-width: 420px) {
   .title {
        font-size: 1.8rem;
   }
   .forgot-password-section .forgot-password div{
        width: 80% !important;
   }
}
@media only screen and (max-width: 991px) {
    .forgot-password-section .forgot-password div{
        width: 50%;
    }
 }