@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.title{
  font-size: 2.25rem;
  font-weight: bold;
  color: #4f4f4f;
}

/* -----------------header-section----------------- */
#header {
  position: fixed !important;
  padding: 10px 15px 0 17px !important;
}
.header .brand {
  width: 175px !important;
  height: 130px !important;
  transition: all 0.7s ease !important;
}
#header.sticky .header .brand {
  width: 125px !important;
  height: 80px !important;
}
.header ul{
  margin-top: 0px !important;
}
.header ul li {
  margin-top: 0px !important;
}

/* ----------------hero-img------------------- */
.hero-image {
  background-image: url("../images/bg-home.png");
  width: 100%;
  background-position: top center;
  background-size: cover;
}
.home-heading h1 span{
  color: white;
  letter-spacing: 1px;
  display: block;
}
.list {
  list-style: none;
  color: white;
  letter-spacing: 1px;
  margin-left: -31px;
}
.hero-image .home-content {
  padding: 258px 0 0 55px;
}
.hero-image .btn-lets {
  height: 54px;
  text-align: center;
  margin-top: -5px;
  padding-top: 15px;
}
.btn-lets a {
  text-decoration: none;
  font-size: 17px;
  background-color: rgba(0, 96, 114, 0.5);
  border: 1px solid white;
  color: white;
  height: 54px;
  border-radius: 54px;
  padding: 16px 31px;
  letter-spacing: 1px;
  margin: 0 auto;
  transition: all 0.2s ease;
}
.btn-lets a:hover {
  background-color: white;
  color: #1d7a8c;
}
.steps {
  max-width: 1400px;
  margin: 80px auto;
}
.steps .all-steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.step {
  display: flex;
}
.step-text {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 1.2rem;
  color: white;
}
.step-arrow {
  margin: 15px 20px;
}
.step-img {
  text-align: center;
}
.btn-down {
  display: flex;
  justify-content: center;
  margin-top: -60px;
  padding-bottom: 15px;
}
.circle {
  border: 1px solid white;
  width: fit-content;
  border-radius: 100%;
  padding: 10px 12px;
  text-align: center;
  cursor: pointer;
}
.btn-group .btn{
  outline: none;
  color: white;
}
.btn-group .btn:hover{
  color: white;
}

/* ---------------Helperland section---------------- */
#Helperland {
  padding: 90px 0 160px 0;
}
#Helperland .card-deck {
  padding-top: 67px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card-deck .card1 {
  width: 319px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 14px 35.5px 0px 35.5px;
}
.card1 .img{
  width: 319px;
  height: 319px;
}
.card1 .img .card-img-top {
  width: 100%;
  height: 100%;
}
.card1 .card-body{
  padding: 0;
}
.card-body .card-heading{
  font-size: 1.87rem;
  font-weight: bold;
  color: #565656;
  display: block;
  text-align: center;
  margin: 39px 0px;
  line-height: normal;
}
.card-body .card-heading1{
  margin: 59px 0px !important;
}
.card-body .card-content{
  font-size: 17px;
  line-height: 1.41;
  color: #565656;
  text-align: center;
}

/* ------------------Blog section--------------- */
#Blog {
 position: relative;
}
#Blog .lorem-container {
  max-width: 1250px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
#Blog .lorem-container .lorem {
  padding: 80px 40px;
}
#Blog .lorem-container .lorem > p {
  font-size: 1.87rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: #4f4f4f;
}
#Blog .lorem-container .lorem .p {
  line-height: 1.33;
  font-size: 18px;
  text-align: left;
  color: #4f4f4f;
}
#Blog .lorem-container .lorem-img {
  padding: 40px 15px;
}
.blog-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 56px 0 43px 0;
}
.blog {
  width: 357px;
  margin: 10px 22.5px;
  text-align: left;
  background-color: rgba(230, 230, 250, 0.52);
}
.blog .card-img-top {
  width: 100%;
  height: 150px;
}
.blog .card-body{
  padding: 15px;
}
.blog .card-title {
  font-size: 20px;
  font-weight: bold;
  color: #3d4046;
}
.blog .card-date {
  color: #a3a3a3;
  font-size: 13px;
}
.blog .card-text{
  color: #565656;
  font-size: 16px;
}
.blog .read-more{
  color: #4f4f4f;
  font-size: 18px;
  cursor: pointer;
}
#Blog .left-img {
  position: absolute;
  top: 3%;
  left: 0;
  height: 100%;
  z-index: -1;
}
#Blog .right-img {
  position: absolute;
  top: 3%;
  right: 0;
  height: 100%;
  text-align: right;
  z-index: -1;
}
.left-img img,
.right-img img {
  height: 100%;
  width: 85%;
}

/* -----------------customer says---------------- */
#Customers-Say {
  background-color: #f4f5f8;
  padding-top: 65px;
}
.customers-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 55px;
}
.customers {
  width: 357px;
  margin: 5px 21.5px 10px 21.5px;
  padding: 30px;
  background-color: #ffffff;
  border-left: 4px solid #1d7a8c;
  transition: all 0.2s ease;
}
.customers:hover{
  border-left: 7px solid #1d7a8c;
}
.about-customer {
  display: flex;
  margin-bottom: 10px;
}
.customer-profile {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer-name {
  padding-top: 15px;
}
.customer-name .name {
  font-size: 20px;
  color: #4f4f4f;
  font-size: 20px;
  font-weight: bold;
}
.customer-name .city {
  color: #8e8e8e;
  font-size: 14px;
}
.customer-msg {
  margin: auto;
  cursor: pointer;
}
.customer-content {
  font-size: 16px;
  color: #565656;
}
.customers .read-more {
  font-size: 18px;
  color: #565656;
  padding-top: 10px;
  cursor: pointer;
}
.newsletter {
  padding: 55px 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.up {
  background-color: #525252;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.up img {
  padding: 20px 15px;
}
.msg-box {
  display: flex;
  flex-direction: column;
}
.GET-OUR-NEWSLETTER {
  font-size: 18px;
  font-weight: 500;
  color: #353548;
}
.msg-foam {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.inputbox {
  width: 233px;
  height: 40px;
  padding: 14px 13px 16px 22px;
  border-radius: 20px;
  border: solid 1px #565656;
  outline: none;
  background-color: #f4f5f8;
  margin-right: 10px;
  margin-bottom: 10px;
}
.submit-btn {
  width: 88px;
  height: 40px;
  border: none;
  color: #ffffff;
  border-radius: 20px;
  background-color: #ff7b6d;
}
.layer {
  cursor: pointer;
  height: 63px;
  width: 63px;
}
.layer img{
  width: 100%;
  height: 100%;
}

/* -----------------footer section------------------- */
#footer {
  background-color: black;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 27px 122px; 
}
.footer .footer-img {
  width: 106px;
  height: 78px;
}
.footer .footer1-logo {
  width: 100%;
  height: 100%;
}
.footer-nav ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.footer-nav li {
  float: left;
}
.footer-nav li a {
  display: block;
  padding: 8px;
  font-size: 14px;
  text-decoration: none;
  color: #f1f1f1;
  letter-spacing: 0.7px;
}
.footer-nav li a:hover{
  color: #f1f1f1;
}
.social img {
  padding-right: 15px;
  cursor: pointer;
}
.footer2 {
  background-color: #292929;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.footer2 div {
  color: #9ba0a3;
  padding: 15px 250px;
  text-align: center;
}
.footer2 div span {
  color: #6eabef;
}
.footer2-btn {
  width: 88px;
  height: 40px;
  border: none;
  color: #4f4f4f;
  border-radius: 20px;
  background-color: #eed507;
}

@media screen and (max-width:414px) {
  .title{
    font-size: 1.8rem;
  }
  #Blog .blog-container .card, .customers-container .customers{
    margin: 10px 20px !important;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 27px 27px; 
  }
  .footer-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-nav li a {
    padding: 8px 0;
  }
}
@media screen and (max-width:500px) {
  #Blog .lorem-container .lorem > p {
    font-size: 1.5rem;
  }
  #Blog .lorem-container .lorem-img {
    width: 310px;
    height: 310px;
    margin-bottom: 25px;
  }
  #Blog .lorem-container .lorem-img img{
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width:767px) {
  .hero-image .home-content {
    padding: 220px 0 0 35px;
  }
  .steps{
    padding-bottom: 25px;
  }
  .all-steps .step-arrow{
    display: none;
  }
  .btn-down{
    display: none;
  }
  .title{
    font-size: 2rem;
  }
  #Helperland {
    padding: 0px 0 60px 0 !important;
  }
  .card-deck .card1{
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .card1 .img{
    margin: 0 auto;
    width: 239px !important;
    height: 239px !important;
  }
  #Blog .right-img, #Blog .left-img {
    display: none;
  }
  .card1 .card-body .card-heading1{
    margin: 15px 0 !important;
  }
  .card1 .card-body .card-heading{
    font-size: 1.5rem;
    margin: 15px 0;
  }
  .newsletter{
    flex-direction: column;
    padding: 55px 0;
    align-items: center;
  }
  .up{
    margin-bottom: 20px;
  }
  .msg-foam {
    justify-content: center;
  }
  .layer{
    margin-top: 20px;
  }
}
@media screen and (max-width:830px) {
  .card-deck .card1{
    margin: 14px 25px 0px 25px;
  }
  #Blog .lorem-container{
    flex-wrap: wrap;
  }
  #Blog .lorem-container .lorem {
    padding: 0px 40px !important;
  }
  #Blog .lorem-container .lorem-img {
    margin: 0 auto;
    padding: 20px 0px 35px 0px !important;
  }
  #Blog .blog-container .card, .customers-container .customers{
    margin: 10px 4px;
  }
  .footer{
    padding: 27px 107px;
  }
}
@media screen and (max-width:991px){
  .step-text{
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .step-img{
    width: 135px;
  }
  .step-img img{
    width: 44px;
    height: 44px;
  }
  .step-arrow {
    margin: 15px 0px;
  }
  .step-arrow img{
    width: 75px;
  }
  .card1 .img{
    margin: 0 auto;
    width: 279px;
    height: 279px;
  }
  .footer{
    flex-direction: column;
  }
  .footer2 div {
    padding: 15px 15px;
  }
  .footer .footer-img {
    margin-bottom: 15px;
  }
  .footer-nav {
    margin-bottom: 15px;
  }
}
@media screen and (max-width:1350px){
  .header .brand {
    width: 135px !important;
    height: 90px !important;
  }
  .footer2 div {
    padding: 15px 15px;
  }
  .footer2-btn{
    margin-bottom: 10px;
  }
}
@media screen and (max-width:1206px) {
  .left-img img,
  .right-img img {
  height: 100%;
  width: 55%;
}
}