@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* ------------header-section--------- */
#header {
  background-color: #525252 !important;
}
#header.sticky {
  position: fixed !important;
}
.navitem .navbtn {
  background-color: #29626d !important;
}
#header #bookservice{
  display: none !important;
}

/* ------------welcome-msg------------ */
.welcome {
  height: 119px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e1e1e1;
}
.welcome .text-center {
  padding: 37px 0px;
  font-size: 1.87rem;
  color: #4f4f4f;
}
.welcome .text-center span {
  font-weight: bold;
}

/* --------------------main-section--------------- */
#service-section {
  padding: 31px 20px;
}
.service-section {
  margin: 0 auto;
  display: flex;
}
.sidebar {
  background-color: #1d7a8c;
  width: 18%;
}
.sidebar a {
  text-decoration: none;
  display: block;
  color: #ffffff;
  font-size: 18px;
  padding: 15px 15px 15px 15px;
  border-bottom: 1px solid rgba(202, 194, 194, 0.2);
}
.sidebar a.active {
  background-color: #146371;
}
.sidebar a:hover {
  color: #ffffff;
}
.sidebar-content {
  margin-left: 14px;
  overflow-x: auto;
  padding: 0 20px;
  width: 100%;
}
.sidebar-content .title{
  color: #646464;
}
.sidebar-content .title-btn a{
  text-decoration: none;
  background-color: #146371;
  color: #fff;
  font-size: 0.87rem;
  padding: 12px 16px;
  border-radius: 34px;
}
#ups {
  overflow-x: auto;
}

/* --------------------table-section--------------- */
.table1, .table2, .table3 {
  border-collapse: collapse;
  font-size: 1rem;
  width: 100%;
}
.table1 .th, .table2 .th, .table3 .th {
  background-color: #f9f9f9;
  color: #646464;
}
.table1 .th th, .table2 .th th, .table3 .th th{
  padding: 13px 37.2px 13px 37.2px;
}
.table1 tr, .table2 tr{
  cursor: pointer;
}
.table1 tr, .table2 tr, .table3 tr {
  border: 1px solid #ddd;
  color: #646464;
}
.table1 tr td, .table2 tr td, .table3 tr td {
  line-height: 2;
}
.table1 .Accept a, .table2 .cancle a {
  text-decoration: none;
  color: white;
  padding: 12px 16px;
  border-radius: 34px;
}

/* -----------------------new-service-request--------------------------- */
.table1 .Accept a{
  background-color: #146371;
}

/* ---------------------------upcoming-service-------------------------- */
.table2 .cancle a{
  background-color: #ff6b6b;
}

/* --------------------------service-history------------------------- */
.table3 .text-center td:nth-child(4) a{
  background-color: #67b644;
  padding: 4px 9px;
  color: white;
  font-size: 0.81rem;
}
.table3 .text-center td:nth-child(4) a.Cancelled{
  text-decoration: none;
  background-color: #ff6b6b;
  padding: 4px 9px;
  color: white;
  font-size: 0.81rem;
}

/* ---------------------------My-ratings-------------------------- */
.service-rating{
  border: 1px solid #ddd;
  width: 100%;
  color: #646464;
}
.service-rating b{
  color: #4f4f4f;
  font-weight: 700;
}

/* -------------------favourite-pros-section--------------------------- */
.main{
  display: flex;
  flex-wrap: wrap;
}
.main .fav-card{
  width: 280px;
  height: 230px;
  margin: 0px 20px 20px 0px;
  border: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fav-card .cap{
  border: 1px solid #aaa;
  border-radius: 50%;
}
.fav-card .cap img{
  height: 80px;
  width: 80px;
}
.name div:nth-child(1){
  font-weight: bold;
  color: #4f4f4f;
  font-size: 18px;
}
.fav-card .btns-div a {
  background-color: #ff6b6b;
  text-decoration: none;
  color: white;
  padding: 10px 16px;
  border-radius: 34px;
}

/* -----------------------table-footer-section----------------- */
.sidebar-content .table-footer{
  display: flex;
  justify-content: space-between;
}
.sidebar-content .drop-record, .sidebar-content select#km{
  color: #646464;
  font-size: 0.87rem;
}
.drop-record select, .sidebar-content select#km, .sidebar-content select#payment-status, .sidebar-content select#rating-status{
  height: 38px;
  outline: none;
  border: 1px solid #e1e1e1;
  padding: 0 15px;
  color: #646464;
  font-size: 0.87rem;
  text-align: center;
}
.pagination div{
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #e1e1e1;
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777777;
  cursor: pointer;
}
.pagination div.active{
  background-color: #1d7a8c;
  color: white;
}
.pagination #next-tab img{
  transform: rotate(180deg);
}
.pagination #next-last-tab img{
  transform: rotate(180deg);
}

/* -----------------------my-setting-section--------------------- */
.nav-tabs{
  border-bottom: 2px solid #dee2e6 !important;
}
.nav-tabs .nav-item button{
  border: none;
  color: #646464;
  font-weight: bold;
}
.nav-tabs .nav-item button.active{
  color: #146371 !important;
  border-bottom: 2px solid #146371;
}
.sidebar-content .tab-content{
  position: relative;
}
.tab-content .cap1{
  position: absolute;
  right: 0%;
  top: 3%;
}
.tab-content hr.hr-line{
  width: 93%;
}
#details .acount-status{
  font-size: 18px;
  color: #646464;
  font-weight: bold;
}
#details .acount-status span{
  font-weight: normal;
  color: #0fc70f;
}
#details .section-title{
  font-size: 18px;
  color: #646464;
  font-weight: bold;
  margin-bottom: -13px;
}
#details label, #password label{
  color: #646464;
  font-weight: 500;
  display: block;
}
#details input, #password input{
  color: #646464;
  height: 43px;
}
#details .input-group-text{
  line-height: 1.8;
}
.dateofbirth #month{
  width: 120px;
}
#details .gender input,.avatar input{
  height: 16px !important;
}
.avatar input{
  opacity: 0;
}
#details .avatar .cap, .cap1{
  border: 1px solid #aaa;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
#details .avatar .cap.selectAv{
  border: 2px solid #146371;
  border-radius: 50%;
}
#details .avatar .cap img, .cap1 img{
  height: 55px;
  width: 55px;
}
#details select, .language select{
  height: 43px;
  padding: 0 10px;
  outline: none;
  border: 1px solid #e1e1e1;
  color: #646464;
  font-size: 0.87rem;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
}
#details .save-btn a, #password .save-btn a{
  text-decoration: none;
  color: white;
  padding: 10px 16px;
  border-radius: 34px;
}
#details .save-btn a.save, #password .save-btn a.save {
  background-color: #146371;
}

@media screen and (max-width:414px) {
  .service-rating div div:nth-child(1){
    flex-direction: column;
  }
  .service-rating .mx-5{
    margin: 10px 0px !important;
  }
  .tab-content hr.hr-line {
    width: 70% !important;
  }
}
@media screen and (max-width:767px) {
  .table1, .table2, .table3 {
    border-collapse: separate;
    border-spacing: 1px 15px;
  }
  .table1 .th, .table2 .th, .table3 .th{
    display: none;
  }
  .table1 tr, .table2 tr, .table3 tr{
    outline: 1px solid #ddd;
  }
  .table1 tr td, .table2 tr td, .table3 tr td{
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    margin: 0 15px;
  }
  .table1 tr td:nth-child(2), .table1 tr td:nth-child(3), .table2 tr td:nth-child(2), .table2 tr td:nth-child(3), .table3 tr td:nth-child(2), .table3 tr td:nth-child(3){
    display: flex;
    flex-direction: column;
  }
  .table1 tr td:nth-child(2) div, .table2 tr td:nth-child(2) div, .table3 tr td:nth-child(2) div{
    text-align: left;
  }
  .table1 tr td:nth-child(4), .table1 tr td:nth-child(5), .table1 tr td:nth-child(6), .table2 tr td:nth-child(4), .table2 tr td:nth-child(5), .table2 tr td:nth-child(6){
    justify-content: center;
  }
  .table1 tr td:last-child, .table2 tr td:last-child, .table3 tr td:last-child{
    border: none;
  }
  .table1 .Accept a, .table2 .cancle a {
    padding: 6px 16px;
  }
  .sidebar-content .table-footer{
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1250px) {
  .sidebar {
    display: none;
  }
  .sidebar-content {
    margin-left: 0px;
  }
  .menu-btn1 {
    display: block !important;
  }
  .menu-btn {
    display: none !important;
  }
}