@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}
body {
  overflow-x: hidden;
}

/* ------------------ hero image ---------------------- */
.hero-img {
  background-image: url("../images/group-16_2.png");
  height: 370px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/*----------------------- contact----------------------- */
.contact {
  padding: 39px 0;
}
.title {
  font-size: 2.25rem;
  font-weight: 500;
  color: #4f4f4f;
  margin-bottom: 18px;
}
.line {
  width: 62px;
  height: 2px;
  background-color: #cccccc;
  margin: 0 10px;
}
.detail-section {
  width: 80%;
  margin: 52px auto;
  margin-bottom: 76px;
}
.detail {
  margin: 0px auto;
  margin-bottom: 20px;
  width: 200px;
}
.detail .img {
  height: 80px;
}
.detail .content {
  color: #4f4f4f;
  font-size: 16px;
}
.detail .content p {
  margin-bottom: 0px;
  line-height: 1.5;
}
.hr {
  width: 80%;
  height: 1px;
  background-color: #dcdcdc;
  margin: 0 auto;
}

/*------------------------ contact foam----------------------- */
.error{
  color: red;
  font-size: 14px;
}
.get-in {
  margin-top: 80px;
}
.form{
  width: 50%;
  margin: 0 auto;
  padding: 30px 10px 10px 10px;
}
.form-control, .input-group-text{
  height: 46px;
}
.file .form-control{
  line-height: 2;
}
.msg{
  height: 146px !important;
}
.form-check a{
  text-decoration: none;
}
.submit button{
  width: 163px;
  height: 46px;
  margin: 10px;
  font-size: 20px;
  border-radius: 46px;
  border: none;
  outline: none;
  background-color: #1D7A8C;
  color:white;
}

/*---------------------- map-------------------- */
.map iframe{
  height: 400px;
  width: 100%;
}

/*-------------------- news latter-------------------- */
.section-newsseltter {
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 47px;
  margin-bottom: 53px;
}
.newstitle {
  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: 1.13rem;
  font-weight: 600;
}
.newsform button {
  width: 88px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 20px;
  background-color: #ff7b6d;
}
.newsform .input-field input {
  width: 233px;
  height: 40px;
  padding: 14px 131px 16px 22px;
  margin-right: 11px;
  border-radius: 20px;
  border: solid 1px #565656;
  background-color: #f4f5f8;
}

@media only screen and (max-width: 420px) {
  .title{
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 600px) {
  .hero-img {
    height: 200px;
  }
}
@media screen and (min-width: 600px) and (max-width: 991px) {
  .hero-img {
    height: 265px;
  }
}
@media screen and (max-width:990px) {
  .form{
      width: 80%;
  }
}