@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}
body {
  overflow-x: hidden;
}

/* ----------------- navigation bar ---------------- */
.navbar {
  background-color: #525252;
}
.navbar-brand {
  padding: 15px;
}
.navbar-brand img {
  height: 54px;
  width: 73px;
}
.navbar-collapse {
  padding: 10px 0px;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 20px;
}
.nav-item {
  margin-left: 18px;
}
.nav-item .nav-btn {
  border-radius: 20px;
  color: white;
  padding-left: 15px !important;
  padding-right: 15px !important;
  border-color: white;
}
.nav-item .btn1 {
  background-color: #29626d;
}
.nav-item .nav-link {
  color: white;
  letter-spacing: 1px;
}
.nav-item .nav-link:hover {
  color: white;
}
@media screen and (max-width: 991px) {
  .nav-item {
    margin-left: 23px;
    margin-top: 7px;
  }
  .navbar-nav .nav-item .nav-link {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* ------------------ hero image ---------------------- */
.hero-img {
  background-image: url("../images/contact/group-16_2.png");
  height: 370px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media screen and (max-width: 600px) {
  .hero-img {
    height: 200px;
  }
}
@media screen and (min-width: 600px) and (max-width: 991px) {
  .hero-img {
    height: 265px;
  }
}

/*----------------------- contact----------------------- */
.contact {
  padding: 39px 0;
}
.title {
  font-size: 2.25rem;
  font-weight: 500;
  color: #4f4f4f;
  margin-bottom: 18px;
}
.line {
  width: 62px;
  height: 2px;
  background-color: #cccccc;
  margin: 0 10px;
}
.detail-section {
  width: 80%;
  margin: 52px auto;
  margin-bottom: 76px;
}
.detail {
  margin: 0px auto;
  margin-bottom: 20px;
  width: 200px;
}
.detail .img {
  height: 80px;
}
.detail .content {
  color: #4f4f4f;
  font-size: 16px;
}
.detail .content p {
  margin-bottom: 0px;
  line-height: 1.5;
}
.hr {
  width: 80%;
  height: 1px;
  background-color: #dcdcdc;
  margin: 0 auto;
}
@media only screen and (max-width: 420px) {
  .title{
    font-size: 25px;
  }
}

/*------------------------ contact foam----------------------- */
.get-in {
  margin-top: 80px;
}
.form{
  width: 50%;
  margin: 0 auto;
  padding: 30px 10px 10px 10px;
}
.form-control, .input-group-text{
  height: 46px;
}
.msg{
  height: 146px !important;
}
.submit button{
  width: 163px;
  height: 46px;
  margin: 10px;
  font-size: 20px;
  border-radius: 46px;
  border: none;
  outline: none;
  background-color: #1D7A8C;
  color:white;
}

@media screen and (max-width:990px) {
  .form{
      width: 80%;
  }
}

/*---------------------- map-------------------- */
.map iframe{
  height: 400px;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .map {
    height: 200px;
  }
}
@media screen and (min-width: 600px) and (max-width: 991px) {
  .map {
    height: 265px;
  }
}

/*-------------------- news latter-------------------- */
.section-newsseltter {
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 47px;
  margin-bottom: 53px;
}
.newstitle {
  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: 1.13rem;
  font-weight: 600;
}
.newsform button {
  width: 88px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 20px;
  background-color: #ff7b6d;
}
.newsform .input-field input {
  width: 233px;
  height: 40px;
  padding: 14px 131px 16px 22px;
  margin-right: 11px;
  border-radius: 20px;
  border: solid 1px #565656;
  background-color: #f4f5f8;
}
/*------------------------ footer---------------------------- */
.section-footer {
  background-color: #111111;
  /* margin-bottom: 23px; */
  padding: 1% 6%;
}
.f-main {
  margin-bottom: 12px;
}
.footer-logo img {
  width: 120px;
  height: 92px;
}
.footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social {
  display: flex;
  justify-content: center;
}
.footer-social img {
  margin-left: 10px;
  float: right;
  margin: auto 5px;
  cursor: pointer;
}
.footer-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.footer-nav ul li {
  margin-left: 2%;
  margin-right: 2%;
}
.footer-nav ul li a {
  text-decoration: none;
  color: white;
}
.f-sub {
  text-align: center;
  opacity: 0.5;
  color: white;
  margin-top: 20px;
}
.hr {
  width: 100%;
  color: white;
}

@media screen and (max-width: 704px) {
  .f-main {
    padding: 15px 0px;
  }
  .footer-nav ul{
    padding: 10px 0;
  }
  .footer-nav ul li{
    width: 100%;
    padding: 1px 40%;
  }
}
@media screen and (max-width: 1202px) {
  .footer-nav ul {
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    width: 100%;
  }
  .footer-nav ul li{
    margin-left: 1%;
    margin-right: 1%;
  }
  .footer-logo {
    text-align: center;
  }
  .footer-social {
    text-align: center;
  }
  .footer-social img {
    float: none;
  }
}
