@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
/* -----------------common css-------------------- */

/* -----------------header-section------------------ */
#header {
  position: fixed;
  width: 100%;
  padding: 10px 15px 0 17px;
  transition: all 0.7s ease;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
#header.sticky {
  background-color: rgba(0, 0, 0, 0.6);
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header .brand {
  width: 125px;
  height: 80px;
}
.header .brand a img {
  width: 100%;
  height: 100%;
}
.header ul li {
  list-style: none;
  display: inline-block;
  margin-left: 25px;
}
.header ul li a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 0;
}
.navitem .navbtn {
  background-color: #29626d;
}
.navbtn {
  padding: 12px 25px;
  border: 1px solid white;
  border-radius: 40px;
  height: 40px;
}
.menu-btn {
  color: white;
  display: none;
  padding-right: 20px;
  font-size: 40px;
  z-index: 1;
}
@media screen and (max-width: 1250px) {
  .header ul {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: black;
    text-align: center;
    padding-top: 150px;
    transition: 0.3s ease;
  }
  .menu-btn i.active::before {
    content: "\f00d";
  }
  .header ul.show {
    left: 0;
  }
  .header ul li {
    display: block;
    margin-bottom: 30px;
  }
  .menu-btn {
    display: block;
  }
}

/* --------------------------create account-------------------- */
#create-account {
  padding: 100px 20px;
}
.title {
  font-size: 2.25rem;
  font-weight: 500;
  color: #4f4f4f;
  margin-bottom: 18px;
}
.line {
  width: 62px;
  height: 2px;
  background-color: #cccccc;
  margin: 0 10px;
}
.form {
  width: 40%;
  margin: 0 auto;
  padding: 35px 10px 10px 10px;
}
.form-control,
.input-group-text {
  height: 46px;
}
.msg {
  height: 146px !important;
}
.form-check {
  margin: 15px 0;
}
.form-check-label {
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #4f4f4f;
}
.form-check-label span,
.submit span {
  color: #1fb6ff;
}
.submit button {
  width: 163px;
  height: 46px;
  margin: 20px;
  font-size: 20px;
  border-radius: 46px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: #1d7a8c;
  color: white;
}
@media screen and (max-width: 1200px) {
  .form {
    width: 70%;
  }
}
@media screen and (max-width: 450px) {
  .form {
    width: 90%;
  }
  .title {
    font-size: 1.8rem;
  }
}
