* {
  margin: 0 0;
  font-family: Roboto;
}
body {
  overflow-x: hidden;
}
.main {
  height: 100%;
}
@media only screen and (min-width: 992px) and (max-width: 1587px) {
  .main {
    overflow: hidden;
  }
}

/* navigation */
.navbar {
  background-color: #525252;
}
.navbar-brand {
  padding: 15px;
}
.navbar-brand img {
  height: 54px;
  width: 73px;
}
.navbar-collapse {
  padding: 10px 0px;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 20px;
}
.nav-item {
  margin-left: 25px;
}
.nav-item .nav-btn {
  border-radius: 20px;
  color: white;
  padding-left: 15px !important;
  padding-right: 15px !important;
  border-color: white;
}
.nav-item .nav-btn:hover {
  background-color: #29626d;
}
.nav-item .nav-link {
  color: white;
  letter-spacing: 1px;
}
.nav-item .nav-link:hover {
  color: white;
}

/* .hero image */
.hero-img {
  height: 370px;
  background-image: url("../images/faq/group-16.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media only screen and (max-width: 420px) {
  .main {
    overflow: hidden;
    height: 2180px;
  }
  .navbar-brand img {
    height: 40px;
    width: 60px;
  }
  .navbar-collapse {
    background-color: #525252;
  }
  .nav-item {
    margin-left: 23px;
    margin-top: 7px;
  }
  .navbar-nav .nav-item .nav-link {
    padding-right: 15px;
    padding-left: 15px;
  }
  .hero-img {
    height: 200px;
  }
}

/* faq */
.faq {
  height: 100%;
}
.FAQs {
  width: 80px;
  height: 30px;
  font-size: 36px;
  line-height: 0.67;
  text-align: center;
  color: #4f4f4f;
  padding: 50px;
}
.Rectangle-5-copy-5 {
  width: 62px;
  height: 1px;
  background-color: #ccc;
  margin-right: 10px;
}
.Rectangle-5-copy-6 {
  width: 62px;
  height: 1px;
  background-color: #ccc;
  margin-left: 10px;
}
.Forma-1-copy-5 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Whether-you-are-Customer-or-Service-provider-We-have-tried-our {
  width: 491px;
  height: 119px;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #646464;
  padding-top:34px;
}
.Rectangle-21-copy-3 {
  width: 472px;
  height: 66px;
  text-align: center;
  background-color: #1d7a8c;
}
.Rectangle-21 {
  width: 472px;
  height: 66px;
  text-align: center;
  background-color: #f6f6f6;
  border-bottom: 3px solid #1d7a8c;
}
.faq .d-flex {
  top: 18%;
}
.For-Customer {
  font-size: 1.4rem;
  align-items: center;
  line-height: 2.8;
  letter-spacing: normal;
  color: #fff;
}
.For-Service-Provider {
  font-size: 24px;
  line-height: 2.8;
  letter-spacing: normal;
  color: #646464;
}
.bs-example {
  width: 931px;
  margin: 0 auto;

}
.card1 p {
  margin-bottom: 0px;
  color: #646464;
  width: 100%;
  line-height: 3;
}
.accordion {
  width: 100%;
}
.accordion .fas {
  margin-right: 0.4rem;
  font-size: 24px;
  position: relative;
}
.accordion .collapse {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
  color: #646464;
  padding-left: 33px;
}
.newsletter {
  height: 100px; 
  top: 89%;
}
.msg-box {
  width: 23%;
  margin: 10px auto;
  height: 100px;
}
.GET-OUR-NEWSLETTER {
  font-size: 18px;
  font-weight: 500;
  color: #353548;
  padding-left: 63px;
}
.msg-foam {
  margin-top: 10px;
}
.Rounded-Rectangle-649 {
  width: 233px;
  height: 40px;
  padding: 14px 13px 16px 22px;
  border-radius: 20px;
  border: solid 1px #565656;
  outline: none;
  background-color: #f4f5f8;
  margin-right: 10px;
  margin-bottom: 10px;
}
.Rounded-Rectangle-649-copy {
  width: 88px;
  height: 40px;
  border: none;
  color: #ffffff;
  border-radius: 20px;
  background-color: #ff7b6d;
}
@media screen and (max-width:933px) {
  .bs-example{
    padding-top: 10px;
    width: fit-content;
  }
}
@media only screen and (max-width: 420px) {
  .main{
    height: 100%;
  }
  .FAQs {
    font-size: 25px;
  }
  .faq{
    height: 11%;
  }
  .Rectangle-5-copy-5 {
    width: 62px;
  }
  .Rectangle-5-copy-6 {
    width: 62px;

  }
  .Whether-you-are-Customer-or-Service-provider-We-have-tried-our {
    font-size: 14px;
    line-height: 1.3;
  }
  .For-Customer {
    font-size: 21px;
  }
  .For-Service-Provider {
    font-size: 21px;
    line-height: 2.8;
  }
  .bs-example {
    width: 100%;
  }
  .card1 p {
    margin-bottom: 6px;
    width: 337px;
    line-height: 1.3;
  }
  .accordion .fas {
    margin-right: 0.4rem;
    font-size: 16px;
  }
  .accordion .collapse {
    width: 336px;
    font-size: 14px;
    line-height: 1.5;
  }
}
  .section-newsseltter {
    text-align: center;
    width:100%;
    display: block;
    margin-top: 55px;
    margin-bottom: 53px;

}

.newstitle{
    margin-bottom: 16px;
    text-transform: uppercase;
    font-size: 1.13rem;
    font-weight: 600;
}
.newsform button{
    width: 88px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #ff7b6d;
}
.newsform .input-field input{
    width: 233px;
    height: 40px;
    padding: 14px 131px 16px 22px;
    margin-right: 11px;
    border-radius: 20px;
    border: solid 1px #565656;
    background-color: #f4f5f8;
}

  
/*############### footer ##############*/

.section-footer{
    background-color: #111111;
    margin-bottom: auto;
    padding: 2% 6%;
}
.footer-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-social{
	display: flex;
    justify-content: center;
   
}
.footer-social img{
  margin-left: 10px;
  float: right;
  margin: auto 5px;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}
.footer-nav ul li{
    margin-left: 2%;
    margin-right: 2%;
}
.footer-nav ul li a{
    text-decoration: none;
    color: white;
}
.f-sub{
    text-align: center;
    opacity: 0.5;
    color: white;
}
.hr{
    width: 100%;
    color: violet;
}

@media screen and (max-width:1202px) {
.footer-nav ul{
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
	}
    .footer-logo{
        text-align: center;
    }
    .footer-social{
        text-align: center;
    }
    .footer-social img{
        float: none;
    }
}

