/* -----------------header-section------------------ */
#header {
  width: 100%;
  padding: 15px 15px 5px 17px;
  transition: all 0.7s ease;
  z-index: 99;
  background-color: #525252;
}
#header.sticky {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header .brand {
  height: 54px;
  width: 73px;
}
.header .brand a img {
  width: 100%;
  height: 100%;
}
.header ul li {
  list-style: none;
  display: inline-block;
  margin-left: 25px;
}
.header ul li a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 0;
}
.navitem .navbtn {
  background-color: #29626d;
}
.navbtn {
  padding: 12px 25px;
  border: 1px solid white;
  border-radius: 40px;
  height: 40px;
}
.menu-btn {
  color: white;
  display: none;
  padding-right: 20px;
  font-size: 40px;
  z-index: 1;
}
@media screen and (max-width: 1250px) {
  .header ul {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: black;
    text-align: center;
    padding-top: 150px;
    transition: 0.3s ease;
  }
  .menu-btn i.active::before {
    content: "\f00d";
  }
  .header ul.show {
    left: 0;
  }
  .header ul li {
    display: block;
    margin-bottom: 30px;
  }
  .menu-btn {
    display: block;
  }
}
