/* -----------------header-section------------------ */
#header {
  width: 100%;
  padding: 2px 15px 0px 17px;
  transition: all 0.7s ease;
  z-index: 99;
  background-color: #525252;
}
#header.sticky {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header .brand {
  height: 54px;
  width: 73px;
  padding-bottom: 5px;
}
.header .brand a img {
  width: 100%;
  height: 100%;
}
.header ul li {
  margin-top: 5px;
  margin-bottom: -10px;
  list-style: none;
  display: inline-block;
  margin-left: 25px;
}
.header ul li a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 0;
}
.header .vr {
  width: 1px;
  margin-top: -6px;
  margin-bottom: -20px;
  height: 48px;
  color: #e1e1e1;
}
.dropdown .dropdown-toggle {
  color: white;
}
.dropdown .dropdown-toggle:hover {
  color: white;
}
.dropdown-toggle:hover {
  color: white;
}
.dropdown button:focus {
  outline: none;
  box-shadow: none;
}
.dropdown-menu.show {
  right: 15%;
}
.dropdown-menu .dropdown-item {
  color: black;
}
.dropdown-menu .dropdown-item img {
  margin-right: 5px;
}
.menu-btn {
  color: white;
  display: none;
  padding-right: 20px;
  font-size: 40px;
  z-index: 1;
}
@media screen and (max-width: 1100px) {
  .header ul {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: black;
    text-align: center;
    padding-top: 150px;
    transition: 0.3s ease;
  }
  .header ul li {
    display: block;
    margin-bottom: 30px;
  }
  .menu-btn {
    display: block;
  }
  .navitem .vr {
    display: none;
  }
}


/* navbar model css */
#navbartoggle .modal-dialog {
  float: right;
  width: 220px;
}
#navbartoggle .modal-content {
  width: auto;
  padding: 1px;
}
#navbartoggle .modal-body,
#navbartoggle .modal-footer {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: flex-start;
}
#navbartoggle .modal-body a,
#navbartoggle .modal-footer a {
  text-decoration: none;
  padding: 5px;
  color: #646464;
  font-size: 16px;
}
#navbartoggle .modal-header {
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}
#welcomeuser {
  font-size: 14px;
}
#navbartoggle .modal-footer {
  border-top: 1px solid rgba(128, 128, 128, 0.4);
}
#navbartoggle .modal-footer a {
  margin: 0;
}

/* Rate sp model */
#Ratesp{
  color: #646464;
}
#Ratesp .modal-header{
  border-bottom: none;
}
#Ratesp .modal-header .btn-close{
  margin-top: -60px;
}
#Ratesp .modal-header > div{
  display: flex;
}
#Ratesp .modal-header > div span{
  display: block;
}
#Ratesp .modal-header > div .cap{
  border: 1px solid #aaa;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin-right: 12px;
}
#Ratesp .modal-header > div .cap img{
  height: 20px;
  width: 30px;
}
#Ratesp .modal-body{
  padding-top: 0;
}
#Ratesp .modal-body .rate-title{
  font-size: 18px;
  font-weight: 500;
}
#Ratesp .modal-body .rate{
  display: flex;
}
#Ratesp .modal-body .submit button{
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 46px;
  border: none;
  outline: none;
  background-color: #1D7A8C;
  color:white;
}

/* service-cancle model */
#servicecancle{
  color: #646464;
}
#servicecancle .modal-dialog{
  max-width: 1000px;
}
#servicecancle .modal-content{
  width: 1000px;
}
#servicecancle .modal-header{
  border-bottom: none;
}
#servicecancle .content-section .model-title{
  font-size: 20px;
  font-weight: 400;
}
#servicecancle .content-section .model-time{
  font-size: 26px;
  color: black;
}
#servicecancle .content-section div p{
  margin-top: 2px;
  margin-bottom: 0;
  font-size: 17px;
  font-weight: 500;
}
#servicecancle .content-section div p span{
  font-weight: 400;
}
#servicecancle .content-section .model-price{
  font-size: 26px;
  color: #348588;
  font-weight: 600;
}
#servicecancle .content-section .fa-times-circle-o{
  color: rgb(255, 0, 0);
}
#servicecancle .model-button{
  padding-top: 7px;
}
#servicecancle .model-button button{
  width: 130px;
  border-radius: 25px;
  padding: 8px 10px; 
  color: white;
  border: none;
}
#servicecancle .model-button button i{
  margin-right: 5px;
}
#servicecancle .cancel-button{
 background-color: #ff6b6b; 
}
#servicecancle .complete-button{
  background-color: #348588;
}
#servicecancle .modal-section-body hr{
  margin: 6px 0;
}
#servicecancle .modal-body .map-section.col-5 {
  flex: 0 0 auto;
  width: 49.666667%;
}
#servicecancle .map-section iframe{
  height: 100%;
  width: 100%;
}
