/* -----------------header-section------------------ */
#header {
  width: 100%;
  padding: 10px 15px 0px 17px;
  transition: all 0.7s ease;
  z-index: 99;
  background-color: #525252;
}
#header.sticky {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header .brand {
  height: 54px;
  width: 73px;
  padding-bottom: 5px;
}
.header .brand a img {
  width: 100%;
  height: 100%;
}
.header ul li {
  margin-top: 5px;
  list-style: none;
  display: inline-block;
  margin-left: 25px;
}
.header ul li a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 0;
}
.header .vr {
  width: 1px;
  margin-top: -6px;
  margin-bottom: -20px;
  height: 48px;
  color: #e1e1e1;
}
.dropdown .dropdown-toggle {
  color: white;
}
.dropdown .dropdown-toggle:hover {
  color: white;
}
.dropdown-toggle:hover {
  color: white;
}
.dropdown button:focus {
  outline: none;
  box-shadow: none;
}
.dropdown-menu.show {
  right: 15%;
}
.dropdown-menu .dropdown-item {
  color: black;
}
.dropdown-menu .dropdown-item img {
  margin-right: 5px;
}
.menu-btn {
  color: white;
  display: none;
  padding-right: 20px;
  font-size: 40px;
  z-index: 1;
}
@media screen and (max-width: 1100px) {
  .header ul {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: black;
    text-align: center;
    padding-top: 150px;
    transition: 0.3s ease;
  }
  .header ul li {
    display: block;
    margin-bottom: 30px;
  }
  .menu-btn {
    display: block;
  }
  .navitem .vr {
    display: none;
  }
}

#navbartoggle .modal-dialog {
  float: right;
  width: 220px;
}
#navbartoggle .modal-content {
  width: auto;
  height: 90vh;
  padding: 1px;
}
#navbartoggle .modal-body,
#navbartoggle .modal-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#navbartoggle .modal-body a,
#navbartoggle .modal-footer a {
  text-decoration: none;
  padding: 5px;
  color: #646464;
  font-size: 16px;
}
#navbartoggle .modal-header {
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}
#welcomeuser {
  font-size: 14px;
}
#navbartoggle .modal-footer {
  border-top: 1px solid rgba(128, 128, 128, 0.4);
}
#navbartoggle .modal-footer a {
  margin: 0;
}
