/* ----------------modal--------------- */
.modal .modal-dialog {
  width: 400px;
}
.modal-header .close {
  margin-top: -1.5rem;
}
.modal-dialog .modal-content {
  padding: 1rem;
}
.form-title {
  margin: -2rem 0rem 2rem;
  color: gray;
  font-weight: bold;
}
.modal-body .form-control {
  height: 46px;
  border: 1px solid #c8c8c8;
}
.modal-body .btn-round {
  height: 56px;
  background-color: #1d7a8c;
  font-size: 20px;
  color: white;
  font-weight: bold;
  border-radius: 3rem;
}
.modal-body p {
  margin-bottom: 0px;
  font-size: 16px;
}
.modal-body a {
  color: #1fb6ff;
  text-decoration: none;
}
.modal-body a:hover {
  color: #1fb6ff;
  text-decoration: none;
}
.icon {
  position: relative;
}

.icon img {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10px;
  margin-right: 10px;
}
