@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}
body {
  overflow-x: hidden;
}

/* ------------------ hero image ---------------------- */
.hero-img {
  background-image: url("../images/price/group-18.png");
  height: 370px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* ---------------common-css----------- */
.title {
  font-size: 2.25rem;
  font-weight: 500;
  color: #4f4f4f;
}
/* ------------------------ price section ----------------------- */
.price-section {
  text-align: center;
  padding: 31px 0px;
}
.price-section > .d-flex {
  margin-top: 6px;
}
.line {
  height: 2px;
  background-color: #ccc;
  width: 62px;
  margin: 0px 10px;
}
.onetime {
  margin: 31px 0px;
  height: 304px;
}
.price {
  width: 35%;
  height: 100%;
  border: 1px solid #b0c9ce;
  margin: 0 auto;
}
.price .one {
  font-size: 1.75rem;
  background-color: #1d7a8c;
  padding: 10px 0px;
  color: #ffffff;
  font-weight: bold;
}
.uro-img {
  height: 48px;
  opacity: 0.6;
}
.uro img {
  height: 30px;
  color: #646464;
}
.uro p {
  font-size: 2.4rem;
  color: #646464;
  font-weight: 500;
}
.uro p span {
  font-size: 1.7rem;
  font-weight: normal;
}
.flex-column {
  width: 55%;
  margin: 0 auto;
}
.price .flex-column img {
  height: 50%;
  margin-right: 10px;
}
.price .flex-column div {
  font-size: 16px;
  color: #646464;
}
.hr {
  width: 80%;
  height: 1px;
  background-color: #dcdcdc;
  margin: 0 auto;
}

/* ------------------------ Extra-services -------------------- */
.Extra-services {
  padding: 41px 0 5px 0;
}
.Extra-services > .d-flex {
  margin-top: 10px;
  margin-bottom: 39px;
}
.services-section {
  margin: 49px auto;
  width: 65%;
}
.services-section div {
  margin: 5px auto;
}
.service {
  width: 108px;
  height: 108px;
  border: 1px solid #b0c9ce;
  border-radius: 50% 50%;
  margin: 0 auto;
  position: relative;
}
.service img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.services-section .service-name {
  display: block;
  color: #646464;
  font-size: 16px;
}
.services-section div .time {
  color: #1d7a8c;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

/* ---------------- What we include in cleaning --------------- */
.include {
  padding: 71px 0 5px 0;
  background-color: #f6f6f6;
}
.include > .d-flex {
  margin-top: 10px;
  margin-bottom: 39px;
}
.card1 {
  margin: 5px 25px;
  width: 360px;
}
.card1 .img {
  width: 360px;
}
.img img {
  width: 100%;
}
.content .card-title {
  color: #4f4f4f;
  font-size: 20px;
  font-weight: bold;
}
.content-list ul {
  padding-left: 0;
}
.content-list ul li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 16px;
  color: #4f4f4f;
}

/* ----------------------- why helperland ------------------- */
.why {
  padding-top: 71px;
}
.why > .d-flex {
  margin-top: 10px;
  margin-bottom: 39px;
}
.card2 {
  margin: 15px 25px;
  width: 360px;
}
.content1 .card-title1 {
  color: #646464;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}
.content1 .card-content1 {
  color: #646464;
  text-align: right;
  font-size: 16px;
  height: 84.67;
  line-height: 1.43;
}
.content1 .card-title2 {
  color: #646464;
  font-size: 20px;
  font-weight: bold;
}
.content1 .card-content2 {
  color: #646464;
  font-size: 16px;
  height: 84.67;
  line-height: 1.43;
}

/*-------------------- news latter-------------------- */
.section-newsseltter {
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 55px;
  margin-bottom: 53px;
}
.newstitle {
  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: 1.13rem;
  font-weight: 600;
}
.newsform button {
  width: 88px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 20px;
  background-color: #ff7b6d;
}
.newsform .input-field input {
  width: 233px;
  height: 40px;
  padding: 14px 131px 16px 22px;
  margin-right: 11px;
  border-radius: 20px;
  border: solid 1px #565656;
  background-color: #f4f5f8;
}

@media screen and (max-width: 411px) {
  .title {
    font-size: 1.8rem;
  }
  .price .one {
    font-size: 1.5rem;
  }
  .uro-img{
    height: 42px;
  }
  .uro img{
    height: 20px;
  }
  .uro p {
    font-size: 1.6rem;
  }
  .uro p span{
    font-size: 1.2rem;
  }
  .services-section div {
    width: 115px;
  }
  .card1 {
    padding: 15px 5px;
  }
  .card1 .img {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .hero-img {
    height: 200px;
  }
  .onetime{
    height: auto;
  }
  .price-section h1 {
    font-size: 1.8rem;
  }
  .onetime .price {
    width: 90% !important;
  }
}
@media screen and (min-width: 600px) and (max-width: 991px) {
  .hero-img {
    height: 265px;
  }
  .services-section {
    width: 85%;
  }
  .onetime .price {
    width: 50%;
  }
  .include-card .card1{
    margin: 10px;
  }
  .why-card .card2{
    margin: 10px;
  }
}
@media screen and (max-width: 1300px) {
  .onetime .price {
    width: 50%;
  }
}
