@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
/* -----------------common css-------------------- */


/* --------------------hero-image----------------- */
.hero-image {
  background-image: url("../images/S_provider/become-a-pro-banner.png");
  width: 100%;
  background-position: top center;
  background-size: cover;
}
/*------------------------ contact form----------------------- */
#form{
  padding: 120px 0 40px 0;
}
.form{
  width: 27%;
  margin: 0 auto;
  padding: 22px 36px 10px 35px;
  background-color: white;
  border-radius: 5px;
}
.form > .text-center {
  font-size: 24px;
  margin-bottom: 22px;
  font-weight: bold;
  line-height: 1.17;
  letter-spacing: normal;
  color: #4f4f4f;
}
.form .row > div{
  padding-bottom: 14px;
}
.form-control, .input-group-text{
  height: 46px;
  border: 1px solid #c8c8c8;
}
.form-check-label {
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #4f4f4f;
}
.form-check-label span{
  color: #1fb6ff;
}
.get-started button{
  width: 163px;
  height: 46px;
  margin: 10px auto;
  font-size: 16px;
  font-weight: bold;
  border-radius: 46px;
  border: none;
  outline: none;
  background-color: #1D7A8C;
  color:white;
}
.btn-down {
  display: flex;
  justify-content: center;
  padding-bottom: 23px;
}
.circle {
  border: 1px solid white;
  width: fit-content;
  border-radius: 100%;
  padding: 10px 12px;
  text-align: center;
  cursor: pointer;
}

/* -------------------how it works------------------- */
#how_it_works {
  position: relative;
}
#how_it_works .how_it_works {
  max-width: 1150px;
  margin: 0 auto;
  padding-top: 4.25rem;
}
.how_it_works .title {
  font-size: 2.25rem;
  font-weight: bold;
  color: #4f4f4f;
  margin-bottom: 4.56rem;
}
.how_it_works .cards {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.how_it_works .cards .single-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.how_it_works .cards .single-card:nth-child(odd) {
  flex-direction: row-reverse;
}
.cards .single-card:nth-child(odd) .card-img {
  text-align: right;
}
.single-card .card-content {
  padding-top: 3.25rem;
  color: #4f4f4f;
}
.card-content h2 {
  font-size: 1.87rem;
  font-weight: bold;
  line-height: 1.2;
}
.card-content p {
  font-size: 1.12rem;
  line-height: 1.33;
}
.card-content .arrow {
  cursor: pointer;
}
#how_it_works .left-img {
  position: absolute;
  top: 3%;
  left: 0;
  height: 100%;
  z-index: -1;
}
#how_it_works .right-img {
  position: absolute;
  top: 3%;
  right: 0;
  height: 100%;
  text-align: right;
  z-index: -1;
}
.left-img img,
.right-img img {
  height: 100%;
  width: 85%;
}

/*-------------------- news latter-------------------- */
.section-newsseltter {
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 55px;
  margin-bottom: 53px;
}
.newstitle {
  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: 1.13rem;
  font-weight: 600;
}
.newsform button {
  width: 88px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 20px;
  background-color: #ff7b6d;
}
.newsform .input-field input {
  width: 233px;
  height: 40px;
  padding: 14px 131px 16px 22px;
  margin-right: 11px;
  border-radius: 20px;
  border: solid 1px #565656;
  background-color: #f4f5f8;
}

@media screen and (max-width: 450px) {
  .how_it_works .title {
    font-size: 1.8rem;
  }
  .cards .single-card .card-img img {
    height: 200px;
    width: 200px;
  }
  .card-content h2 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width:600px) {
  #form{
    padding-bottom: 20px;
  }
  .form{
      width: 85%;
  }
  .form .row > div{
    padding-bottom: 10px;
  }
  .form-control, .input-group-text{
    height: 36px;
  }
  .btn-down {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .how_it_works .cards .single-card {
    flex-wrap: wrap;
  }
  .cards .single-card:nth-child(odd) .card-img {
    text-align: center;
  }
  .cards .single-card:nth-child(even) .card-img {
    text-align: center;
  }
  .single-card .card-content {
    text-align: center;
    padding: 0 15px;
  }
  .card-content h2 {
    margin-top: 10px;
    font-size: 1.5rem;
  }
  #how_it_works .left-img, #how_it_works .right-img {
    display: none;
  }
}
@media screen and (min-width:600px) and (max-width: 1400px) {
  #form{
    padding: 100px 0 40px 0;
  }
  .form{
      width: 55%;
  }
  .form .row > div{
    padding-bottom: 10px;
  }
  .form-control, .input-group-text{
    height: 40px;
  }
}
@media screen and (min-height:700px) and (max-height:1400px) {
  #form{
    padding: 120px 0 40px 0;
  }
}