@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* ------------welcome-msg------------ */
.welcome {
  height: 119px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e1e1e1;
}
.welcome .text-center {
  padding: 37px 0px;
  font-size: 1.87rem;
  color: #4f4f4f;
}
.welcome .text-center span {
  font-weight: bold;
}

/* --------------------table-section--------------- */
#service-section {
  padding: 31px 0px;
}
.service-section {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.sidebar {
  background-color: #1d7a8c;
  /* overflow-x: hidden; */
}
.sidebar a {
  text-decoration: none;
  display: block;
  color: #ffffff;
  font-size: 18px;
  padding: 15px 100px 15px 15px;
  border-bottom: 1px solid rgba(202, 194, 194, 0.2);
}
.sidebar a.active {
  background-color: #146371;
}
.sidebar a:hover {
  color: #ffffff;
}
.sidebar-content {
  /* overflow-y:hidden; */
  margin-left: 32px;
  overflow-x: auto;
  padding: 0 20px;
}
#ups {
  overflow-x: auto;
}
.table1 {
  border-collapse: collapse;
  font-size: 1rem;
}
.table1 .th {
  background-color: #f9f9f9;
  color: #646464;
}
.table1 .th th {
  padding: 13px 37.2px 13px 37.2px;
}
.table1 tr {
  border-bottom: 1px solid #ddd;
  color: #646464;
}
.table1 tr td {
  line-height: 2;
}
.table1 td span {
  display: block;
}
.table1 .cancle a {
  background-color: #ff6b6b;
  text-decoration: none;
  color: white;
  padding: 12px 16px;
  border-radius: 34px;
}
@media screen and (max-width: 1100px) {
  .sidebar {
    display: none;
  }
  .sidebar-content {
    margin-left: 0px;
  }
}
